canvas{
    margin-top: 20px;
    border: 1px solid black;
}

body{
    font-family: 'Gloria Hallelujah', cursive;
}

hr{
    width:75%;
    text-align:left;
    margin-left:0;
}

.textbox{
    background-color: floralwhite;
    border: 1px solid black;
}

#messagebox{
    width: 500px;
    padding-left:5px;
    padding-right:5px;
}

#messageRight{
    margin-top: 20px;
    padding:15pt;
    height: 500px;
    border-radius: 25px;
    font-family: 'Courier New';
}

#header{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1em;
}

.menu-header{
    font-weight:bold;
    padding: 5px;
}

#btn-instructions{
    float:right;
    border: 0.75px solid black;
}

.btn-interactive{
    background-color: white;
    border: 0.75px solid black;
    margin-top: 5px;
}

.btn-interactive:hover{
    background-color: lightblue;
    border: 0.74px solid blue;
}

.btn-food{
    border: 0.75px solid black;
    width: 125px;
    background-color: white;
}

.food-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group{
    background-color: white;
    border: 0.5px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dropdown-item:hover{
    background-color: lightblue;
}

.dropdown-item{
    white-space: normal;
}

.img{
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 150px;
}