body{
    font-family: 'Gloria Hallelujah', cursive;
}

#cont{
    margin-left: 40px;
    margin: 20px;
    padding: 5px;
}

#voacbTable{

}

tr.header{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

td{
    padding:5px;
    padding-right: 50px;
}